<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <!-- Latest compiled and minified JavaScript -->
        <script src="jquery-1.11.2.min.js"></script>
        <script src="bootstrap.min.js"></script>
        <script src="users.js"></script>
    </head>
    <body>
        <%=render 'layouts/navigation_bar'%>
        <div class="container-fluid side-borders header-padding page-color">
        
        
        <div class="container-fluid side-borders header-padding page-color">
            <nav class="navbar charity-navbar ">
                <div class="navbar-header">
                     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
                </div>
				<ul class="list-inline primary-nav navbar-collapse collapse">
                    <li><a href="qc-buliding-postListing.html"><span class="icon to-dos"></span>My Wishlists</a></li>
					<li><a href="qc-passdownListing.html"><span class="icon passdowns"></span>Create a Wishlist</a></li>
					<li><a href="qc-generalPostOrders.html"><span class="icon post-orders"></span>Remove from Wishlist</a></li>
				</ul>
		    </nav>
        <br>
		
    
        <br>
        </div>
        </div>
        <%=render 'layouts/footer'%>
    </body>
</html>