// Place all the styles related to the donors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html,body {
	height:100%;
    background:center no-repeat fixed url('/assets/example/bg_suburb.jpg');
    background-size: cover;
}

#section1,#section2,#section3,#section4,#section5 {
	padding-top:70px;  
    padding-bottom:50px; 
    min-height:calc(100%);
}

#section1{
	/*background-color: #eee;*/
	background-image: url('bg.jpg');
	background-repeat: repeat;
    color:#0475BA;
}
  
/*#section2{
    color:#fff;
    background: rgb(79,133,187);
    background: -moz-radial-gradient(center, ellipse cover,  rgba(79,133,187,1) 27%, rgba(58,81,113,1) 100%); 
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(27%,rgba(79,133,187,1)), color-stop(100%,rgba(58,81,113,1))); 
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(79,133,187,1) 27%,rgba(58,81,113,1) 100%);
    background: -o-radial-gradient(center, ellipse cover,  rgba(79,133,187,1) 27%,rgba(58,81,113,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover,  rgba(79,133,187,1) 27%,rgba(58,81,113,1) 100%); 
    background: radial-gradient(ellipse at center,  rgba(79,133,187,1) 27%,rgba(58,81,113,1) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f85bb', endColorstr='#3a5171',GradientType=1 ); 

}*/

#section2 {
	background-color:#e2dfd7;
    color:#665a3e;
}

#section4 {
	background-color: #3a5171;
    color:#fff;
}
  
#section3{
background: rgba(254,254,254,1);
background: -moz-linear-gradient(45deg, rgba(254,254,254,1) 0%, rgba(201,201,201,1) 1%, rgba(219,219,219,1) 53%, rgba(226,226,226,1) 81%, rgba(226,226,226,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(254,254,254,1)), color-stop(1%, rgba(201,201,201,1)), color-stop(53%, rgba(219,219,219,1)), color-stop(81%, rgba(226,226,226,1)), color-stop(100%, rgba(226,226,226,1)));
background: -webkit-linear-gradient(45deg, rgba(254,254,254,1) 0%, rgba(201,201,201,1) 1%, rgba(219,219,219,1) 53%, rgba(226,226,226,1) 81%, rgba(226,226,226,1) 100%);
background: -o-linear-gradient(45deg, rgba(254,254,254,1) 0%, rgba(201,201,201,1) 1%, rgba(219,219,219,1) 53%, rgba(226,226,226,1) 81%, rgba(226,226,226,1) 100%);
background: -ms-linear-gradient(45deg, rgba(254,254,254,1) 0%, rgba(201,201,201,1) 1%, rgba(219,219,219,1) 53%, rgba(226,226,226,1) 81%, rgba(226,226,226,1) 100%);
background: linear-gradient(45deg, rgba(254,254,254,1) 0%, rgba(201,201,201,1) 1%, rgba(219,219,219,1) 53%, rgba(226,226,226,1) 81%, rgba(226,226,226,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e2e2e2', GradientType=1 );
}
#section5 {
	background-color: #c9c9c9;
}

#footer{
    background-color:black;
    color:#eee;
}

.headLogo a:link,.headLogo a:hover,.headLogo a:active,.headLogo a:visited{
    text-decoration:none;
    color:#337ab7;
    font-size: 30px;
}

.v-center {
    font-size:70px;
    font-size: 5.5vw;
}

.page-color{
    background-color:#eee;
}

.side-borders{
    border-left:20px solid black;
    border-right:20px solid black;
}

.form-color{
    background-color:#DDDDDD;
}

#errMsgList{
    color: red;
}

.header-padding{
    padding-top:6%;
}

.header-padding1{
    padding-top:4%;
}

.btn-oval.btn-xl {
  padding: 12% 13%;
  font-size:24px;
  font-size: 4.5vm;
  line-height: 1.33;
  border-radius: 48%;
  border:1% solid white;
}

.donation-image{
    border-top-right-radius:48%;
    border-top-left-radius:45%;
    border-bottom-right-radius:10%;
    border-bottom-left-radius:10%;
}

/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.white-color{
    background-color:#fff;
}

.navbar-default .navbar-nav>.sidebar-header>a, .navbar-default .navbar-nav>.sidebar-header>a:focus, .navbar-default .navbar-nav>.sidebar-header>a:hover {
  color: #e0ec43;
  background-color:#3a5171;
}

.round-corners{
    border-radius:10px;
}

.bottom-padding{
    padding-bottom:10px;
}