// Place all the styles related to the wishlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.img-container{
    width: 250px;
    height: 200px;
    padding: 12%;
}

.center-div{
    float:none;
    margin:0 auto;
}

.center-image{
    margin: 0 auto;
}