<div class="container-fluid" id="footer">
    <div class="row">
        <div class="col-sm-4">
            <ul style="list-style:none;">
                <li><h4>Contacts</h4></li>
                <li style="padding-bottom:2px;"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;bxuab sdAXIU IWUQ </li>
                <li style="padding-bottom:2px;"><span class="glyphicon glyphicon-earphone"></span>&nbsp;&nbsp;+91-123-456-7890</li>
                <li style="padding-bottom:2px;"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;mahalakshmi@outlook.com</li>
            </ul>
        </div>
        <div class="col-sm-4">
            <ul style="list-style:none;">
                <li style="padding-bottom:2px;"><h4>About</h4></li>
                <li style="padding-bottom:2px;">About us</li>
                <li style="padding-bottom:2px;">Feedback</li>
                <li style="padding-bottom:2px;">Write for Us</li>
            </ul>
        </div>
        <div class="col-sm-4">
            <ul style="list-style:none;">
                <li><h4>Contacts</h4></li>
                <li style="padding-bottom:2px;"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;bxuab sdAXIU IWUQ </li>
                <li style="padding-bottom:2px;"><span class="glyphicon glyphicon-earphone"></span>&nbsp;&nbsp;+91-123-456-7890</li>
                <li style="padding-bottom:2px;"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;mahalakshmi@outlook.com</li>
            </ul>
        </div>
    </div>
</div>