<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title text-center" id="myModalLabel">
                    Login
                </h4>
            </div>
            <div class="modal-body">
                <%= form_tag( url_for(:controller => 'users', :action => 'login'), :method => :post) do %>
                    <%=render 'layouts/loginForm'%>
                <%end%>
            </div>
            <div class="modal-footer">
                <p>New user? <%= link_to "Sign up now!",{:controller=>"users",:action=>"new"},:class=>"btn btn-primary"%></p>
            </div>
        </div>
    </div>
</div>