<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
    <li role="presentation" class="odd"><%=link_to :Settings,settings_path%></li>
    <li role="presentation" class="even"><%= link_to :Logout, logout_path %></li>
</ul>